.cover .swiper {
    width: 220px;
    height: 320px;
    background-size: cover;  /* This will scale the background image to cover the entire element */
  }
  
  .cover .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  .cover .swiper-slide:nth-child(1n) {
    background-image: url('/cover_page/book1.png');
  }
  
  .cover .swiper-slide:nth-child(2n) {
    background-image: url('/cover_page/1.jpeg');
    width: 220px; 
    height: 320px;
  }
  
  .cover .swiper-slide:nth-child(3n) {
    background-image: url('/cover_page/5.png');
    width: 220px; 
    height: 320px;
  }
  
  .cover .swiper-slide:nth-child(4n) {
    background-image: url('/cover_page/2.jpeg');
    width: 220px; 
    height: 320px;
  }
  
  .cover .swiper-slide:nth-child(5n) {
    background-image: url('/cover_page/1.webp');
    width: 220px; 
    height: 320px;
  }
  
  .cover .swiper-slide:nth-child(6n) {
    background-image: url('/cover_page/4.webp');
    width: 220px; 
    height: 320px;
  }
  
  
